{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Flow Weather plugin for Craft CMS 3.x
 *
 * Flow Weather Settings.twig
 *
 * @author    Flow Communcations
 * @copyright Copyright (c) 2019 Flow Communcations
 * @link      http://www.flowsa.com
 * @package   FlowWeather
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}


{{ forms.textField({
    label: 'DarkSky Key',
    instructions: 'Enter your DarkSky site key.',
    id: 'apiKey',
    name: 'apiKey',
    value: settings['apiKey'],
    required: true})
}}

{{ forms.textField({
    label: 'Weather Co-ordinates',
    instructions: 'Enter the co-ordinates of the location for the weather, eg: -20.88,55.4481',
    id: 'coords',
    name: 'coords',
    value: settings['coords'],
    required: true})
}}
